
.nav-link .fab, .nav-link .fas{
    font-size:13px;
    color: black;
}
.sidebar {
    top:70px;
    height: 100%;
width: 20%;
background-color: #fff;
position: fixed !important;
z-index: 1;
overflow-x: hidden; /* Hide horizontal scrollbar */
overflow-y: auto; /* Add vertical scrollbar */
align-self: center;
left: 0px;
background-color: rgb(24, 49, 33);
}
.main-nav{
    left: 8%;
    top: 70px;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 350px;
   
  }
  .carslide{
        height: 50%;
        width: 50%;
  }
  .carousel-caption h3,   .carousel-caption p {
      color: white;
      margin: auto;
      text-shadow: 2px 3px 1px rgba(211, 108, 11, 0.527);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.4);
      max-width: 70%;
      font-size: 1.5rem;

  }
  .footer{
      max-width:70%;
  
  }
  .carcap{
      /* background-color: red !important; */
      top:50%;
     
  }
  
  @media only screen and (max-width: 770px) {
    .carousel-inner img {
        max-width: 100%;
        height: auto;
    }
    .carcap{
        /* background-color: red !important; */
        top: 45% !important;
        width: 80%;
        margin: auto !important;
    }
       
    

    .carslide{
        height: 100% !important;
        width: 100% !important; 
    }

    .carousel-caption h3,   .carousel-caption p {
        color : yellow;
        max-width: 100% !important;
        font-size: 0.56rem;
  
    }
    .carind{
        top: 80%;
        color: green;
        
    }

    .carousel-caption p{
        visibility:hidden;
    }
   
        
    .sidebar {
        /* top:70px; */
        /* height: 100%;
 
    background-color: #fff; */
    position: relative !important;
    width: 100%;
    /* z-index: 1;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: none; /* Add vertical scrollbar */
    align-self: center;

    }

    .sidebar .nav-item h6{
            font-size: 0.76rem;

    }
    .main-nav{
        left: 0;
        top: 70px;
    }
}
