
    .w3-theme-l5 {color:#000 !important; background-color:#eff7f2 !important}
.w3-theme-l4 {color:#000 !important; background-color:#cae5d5 !important}
.w3-theme-l3 {color:#000 !important; background-color:#96cbab !important}
.w3-theme-l2 {color:#fff !important; background-color:#61b181 !important}
.w3-theme-l1 {color:#fff !important; background-color:#41835b !important}
.w3-theme-d1 {color:#fff !important; background-color:#234731 !important}
.w3-theme-d2 {color:#fff !important; background-color:#1f3f2c !important}
.w3-theme-d3 {color:#fff !important; background-color:#1b3726 !important}
.w3-theme-d4 {color:#fff !important; background-color:#172f21 !important}
.w3-theme-d5 {color:#fff !important; background-color:#13271b !important}
.w3-theme-l23 {color:#fff !important; background-color:#a2fcc6 !important}

.w3-theme-light {color:#000 !important; background-color:#eff7f2 !important}
.w3-theme-dark {color:#fff !important; background-color:#13271b !important}
.w3-theme-action {color:#fff !important; background-color:#13271b !important}

.w3-theme {color:#fff !important; background-color:#264e36 !important}
.w3-text-theme {color:#264e36 !important}
.w3-border-theme {border-color:#264e36 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#264e36 !important}
.w3-hover-text-theme:hover {color:#264e36 !important}
.w3-hover-border-theme:hover {border-color:#264e36 !important}
.w3-hover-theme2:hover {color:#fff !important; background-color:#021a0b !important}



.w-theme-l5 {color:#000 !important; background-color:#fdfaf1 !important}
.w-theme-l4 {color:#000 !important; background-color:#f8edd2 !important}
.w-theme-l3 {color:#000 !important; background-color:#f1dca4 !important}
.w-theme-l2 {color:#000 !important; background-color:#ebca77 !important}
.w-theme-l1 {color:#000 !important; background-color:#e4b84a !important}
.w-theme-d1 {color:#fff !important; background-color:#c4951d !important}
.w-theme-d2 {color:#fff !important; background-color:#ae841a !important}
.w-theme-d3 {color:#fff !important; background-color:#987417 !important}
.w-theme-d4 {color:#fff !important; background-color:#826313 !important}
.w-theme-d5 {color:#fff !important; background-color:#6d5310 !important}

.w-theme-light {color:#000 !important; background-color:#fdfaf1 !important}
.w-theme-dark {color:#fff !important; background-color:#6d5310 !important}
.w-theme-action {color:#fff !important; background-color:#6d5310 !important}

.w-theme {color:#000 !important; background-color:#daa520 !important}
.w-text-theme {color:#6d5310 !important}
.w-border-theme {border-color:#daa520 !important}

.w-hover-theme:hover {color:#000 !important; background-color:#daa520 !important}
.w-hover-text-theme:hover {color:#daa520 !important}
.w-hover-border-theme:hover {border-color:#daa520 !important}
